:root {
  --color-primary: #5E72EB;
  --color-secondary: #FF9190;
  --color-gradient-start: #120C6E;
  --color-gradient-stop: #FDC094;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  line-height: 1.5;
  font-size: 18px;
  color: #808291;
}

.h1, h1,
.h2, h2,
.h3, h3,
.h4, h4,
.h5, h5,
.h6, h6 {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  color: #181b31;
}

.h1, h1 {
  line-height: 1.111em;
  font-size: 42px;
}

.h2, h2 {
  line-height: 1.111em;
  font-size: 36px;
}

.h3, h3 {
  line-height: 1.25em;
  font-size: 30px;
}

.h4, h4 {
  line-height: 1.5em;
  font-size: 22px;
}

.h5, h5 {
  line-height: 1.5em;
  font-size: 19px;
}

.h6, h6 {
  line-height: 1.5em;
  font-size: 17px;
}

.main-nav > li > a {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.1em;
  color: #120C6E;
  text-transform: uppercase;
}

.main-nav > li.is-active > a,
.main-nav > li.current-menu-item > a,
.main-nav > li:hover > a,
.main-nav > li > a:hover {
  color: #5E72EB;
}

.main-nav > li > a .link-ext {
  background-color: #fff;
}

.main-footer a:not(.btn) {
  color: #777880;
}

.main-footer a:not(.btn):hover {
  color: #000;
}
#services {
  margin-top: 30px;
  background: rgb(255,145,144);
  background: linear-gradient(56deg, rgba(255,145,144,1) 0%, rgba(94,114,235,1) 100%);
}
.off-white{
  background-color: rgba(255,255,255,0.95);
  box-shadow: -10px 0px 30px 1px rgba(255,255,255,0.95), 10px 0px 30px 1px white;
}
.btn-solid.color-secondary {
  background: rgb(253,192,148);
  background: linear-gradient(56deg, rgba(253,192,148,1) 0%, rgba(255,145,144,1) 100%);
}
